In [ ]:
for num in range(1,11):
  print(num, end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
num=int(input("Enter your number to print factors :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        print(i,end=" ")

Enter your number to print factors :999
1 3 9 27 37 111 333

In [ ]:
num=int(input("Enter your number to print count of factors :"))
count=0
for i in range(1, (num//2)+1):
    if num%i==0:
        count=count+1
print("number of factors:",count)

Enter your number to print count of factors :999
number of factors: 7

In [ ]:
num=int(input("Enter your number to prime or not :"))
count=0
for i in range(1, (num//2)+1):
    if num%i==0:
        count=count+1
print("number of factors:",count)
if count==1:
  print(num,"is a prime number")
else:
    print(num,"not a prime number")

Enter your number to prime or not :25
number of factors: 2
25 not a prime number

In [ ]:
num=int(input("Enter your number to check it is perfect number or not :"))
sum=0
for i in range(1, (num//2)+1):
    if num%i==0:
        sum=sum+i
if sum==num:
  print(num,"is a perfect number")
else:
    print(num,"not a perfect number")

Enter your number to check it is perfect number or not :55
55 not a perfect number

In [ ]:
for i in range(0,5):
  for j in range(0,5):
    print("hi")

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [ ]:
for i in range(0,5):
  for j in range(0,i+1):
    print(i, end=" ")
  print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [ ]:
for row in range(0,6):
  for col in range(0,7):
    if (row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or (row+col==8):
     print(" $ ",end=" ")
    else:
      print(" ",end="  ")
  print()

    $   $      $   $
 $         $         $
 $                  $
    $            $
       $      $
          $

In [ ]:
for num in range(10,1,-1):
  print(num, end=" ")

10 9 8 7 6 5 4 3 2

In [ ]:
num=1
while num<=10:
 print("hi")
 num=num+1

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [ ]:
num=5235
count=0
while num!=0:
  num=num//10
  count=count+1
print("number of digits:",count)

number of digits: 4

In [ ]:
num=6324
rev=0
while num!=0:            # 6!=0
    rem=num%10               # 6%10   =6
    rev=rev*10+rem       #4236
    num=num//10              # 6//10  6
print("reverse number: ",rev)

reverse number:  4236

In [ ]:
age=(20,15,14,88,45,65,25,32,75,10,11,1)
for i in age:
  if i>=18:
    print("eligible",i)
else:
    print("not eligible",i)

eligible 20
eligible 88
eligible 45
eligible 65
eligible 25
eligible 32
eligible 75
not eligible 1

In [ ]:
salary=[10,20,30,40,50,60,70,80,90,100]
salary.insert(3,400)
salary.pop(5)
salary.remove(80)